{% extends "dynamic" %}

{% block title %}Manage Agents{% endblock title %}

{% block content %}

  <h1>Agents</h1>
  <form action="/agents" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="item" value="agent">
    <input type="submit" value="Delete">
    <table border="1">
      <thead>
        <tr>
          <th></th>
          <th>Index</th>
          <th>GUID</th>
          <th>Name</th>
          <th>IP</th>
          <th>BMC IP</th>
          <th>Last Update</th>
          <th colspan="5">BMC Services</th>
        </tr>
      </thead>
      <tbody>
        {% for agent in agents -%}
          <tr>
              <td><input type="checkbox" name="uids" value="{{ agent.info.guid }}"></td>
              <td>{{ loop.index }}</td>
              <td>{{ agent.info.guid }}</td>
              <td>{{ agent.info.name }}</td>
              <td>{{ agent.info.ip }}</td>
              <td>{{ agent.info.bmc_ip }}</td>
              <td>{% if agent.last_refresh %}{{ agent.last_refresh }}{% else %}NA{% endif %}</td>
              {% for service in agent.services %}
                <td width="50" align="center">{% if service.alive %}<a href="{{ service.name }}://{{ agent.info.bmc_ip }}">{{ service.name }}</a>{% endif %}</td>
              {% endfor %}
            </tr>
        {%- endfor %}
      </tbody>
    </table>
  </form>

{% endblock content %}
