{% extends "dynamic" %}

{% block title %}Manage Agents{% endblock title %}

{% block content %}

  <h1>Agents</h1>
  <form action="/agents" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="item" value="agent">
    <input type="submit" value="Delete">
    <table border="1">
      <thead>
        <tr>
          <th></th>
          <th>Index</th>
          <th>GUID</th>
          <th>Name</th>
          <th>IP</th>
          <th>BMC IP</th>
          <th>Since Last Update</th>
          <th colspan="5">BMC Services</th>
        </tr>
      </thead>
      <tbody>
        {% for agent in agents -%}
          <tr>
              <td><input type="checkbox" name="uids" value="{{ agent.info.guid }}"></td>
              <td>{{ loop.index }}</td>
              <td>{{ agent.info.guid }}</td>
              <td>{{ agent.info.name }}</td>
              <td>{{ agent.info.ip }}</td>
              <td>{{ agent.info.bmc_ip }}</td>
              <td>{{ agent.duration_s }}</td>
              <td width="50" align="center">{% if agent.services.http %}<a href="http://{{ agent.info.bmc_ip }}">http</a>{% endif %}</td>
              <td width="50" align="center">{% if agent.services.https %}<a href="http://{{ agent.info.bmc_ip }}">https</a>{% endif %}</td>
              <td width="50" align="center">{% if agent.services.ssh %}ssh{% endif %}</td>
              <td width="50" align="center">{% if agent.services.ipmi %}ipmi{% endif %}</td>
              <td width="50" align="center">{% if agent.services.vnc %}<a href="vnc://{{ agent.info.bmc_ip }}">vnc</a>{% endif %}</td>
            </tr>
        {%- endfor %}
      </tbody>
    </table>
  </form>

{% endblock content %}
