{% extends "dynamic" %}

{% block title %}Manage Agents{% endblock title %}

{% block content %}

  <h1>Agents</h1>
  <form action="/agents" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="item" value="agent">
    <input type="submit" value="Delete">
    <table border="1">
      <thead>
        <tr>
          <th></th>
          <th>Index</th>
          <th>GUID</th>
          <th>Name</th>
          <th>IP</th>
          <th>BMC IP</th>
          <th>Since Last Update</th>
        </tr>
      </thead>
      <tbody>
        {% for agent in agents -%}
          <tr>
              <td><input type="checkbox" name="uids" value="{{ agent.guid }}"></td>
              <td>{{ loop.index }}</td>
              <td>{{ agent.guid }}</td>
              <td>{{ agent.name }}</td>
              <td>{{ agent.ip }}</td>
              <td>{{ agent.bmc_ip }}</td>
              <td>{{ agent.duration_s }}</td>
            </tr>
        {%- endfor %}
      </tbody>
    </table>
  </form>

{% endblock content %}
